{% extends 'base.html' %}

{% block content%}


<h2 class="text-center">{{ user }}</h2>
{% if user.avatar %}
<img class="rounded mx-auto d-block" src="{{ user.avatar.url }}" alt="{{ user }}" style="width:200px; height:200px">
{% endif %}
<p>{{ user.email }}</p>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="update">
</form>

{% endblock %}