{% extends 'base.html' %}


{% block content%}
<form method="post">
{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Register">
</form>
<br>
<a href="{% url 'social:begin' 'github' %}" class="btn btn-info">GitHub</a>
{% endblock %}